<div class="jumbotron">
		<h2 class="display-4">{{.heading}}</h2>
	 <hr class="my-4">
		<p class="lead">{{.description}}</p>
</div>
<div class="container">
  <div class="row">
	 {{ range .blurbs }} 
    <div class="col">
    <p>{{ .text }}</p>
    </div>
    <div class="col">
     <img src="{{ .image }}" alt="" class="center db mb3" style="width: 240px">
    </div>
  </div>
<div class="container">
  <div class="row">
	 {{ range .blurbs }} 
    <div class="col">
      <img src="{{ .image }}" alt="" class="center db mb3" style="width: 240px">
    </div>
    <div class="col">
	  <p>{{ .text }}</p>  
    </div>
  </div>
