<nav class="overflow-x-scroll overflow-x-visible-ns flex justify-between items-center center bg-white divider-grey relative">

	<!-- Logo -->
	<a href="/" class="pa3 db mr4 h-100 w3 flex-none">
		  <img src="https://3.bp.blogspot.com/-gudhhcgGbo0/WOPtS6fM7LI/AAAAAAAA3YE/34apQK5i9skYwfxX-MDpU8OMTrhBwIYtgCLcB/s1600/apple-icon-57x57.png" alt="experto wordpress">
	</a>

	<!-- Primary Nav -->
	<ul class="flex b grey-3">
		<li><a href="/products" class="pa3 no-underline db">Servicios</a></li>

		<li><a href="/values" class="pa3 no-underline db">Precios</a></li>

		<li><a href="/post" class="pa3 no-underline db">Blog</a></li>

		<li><a href="/contact" class="pa3 no-underline db">Contacto</a></li>
	</ul>

</nav>
